<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
</head>
<body>
<h1>User, welcome!</h1>
<br>
<table border="1">User info
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Surname</th>
        <th>Age</th>
        <th>E-mail</th>
        <th>Role</th>
    </tr>
    <tr>
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getSurname()}"/>
        <td th:text="${user.getAge()}"/>
        <td th:text="${user.getEmail()}"/>
        <td th:text="${user.getRoles()}"/>
    </tr>
</table>
<br>
<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>


